button {
  background: white;
  border: none;
}

.btn {
  display: inline-block;
  border-radius: $radius3;
  padding: 1.2rem 3.4rem;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: bold;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  transition: all .15s ease;
  -webkit-tap-highlight-color: transparent;
  border: none;

  &:hover {
    //transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  }

  &:active {
    //transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  }

  &.no-shade {
    box-shadow: none;
  }

  &.still {
    &:hover, &:active {
      transform: translateY(0);
    }
  }

  &.icon-left {
    .icon {
      position: relative;
      top: 1px;
      margin-right: 5px;
    }
  }

  &.icon-right {
    .icon {
      position: relative;
      top: 1px;
      margin-left: 5px;
    }
  }

  &:disabled {
    opacity: .4;
    pointer-events: none;
    background: $grey2;

    &:hover {
      background: $grey2;
    }

    &:active {
      background: $grey2;
    }
  }
}

.btn-lg {
  padding: 2rem 4rem;
  font-size: 1.8rem;
}

.btn-xs {
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
}

.btn-block {
  display: block;
  text-align: center;
}

.btn-link {
  color: $blue;

  &:hover {
    color: darken($blue, 10%);
  }
}

// MAIN BUTTON (BLUE)

.btn-blue {
  background: $blue;
  color: white !important;
  border: none;

  &:hover {
    background: lighten($blue, 3%);
  }

  &:active {
    background: darken($blue, 1%);
  }
}

.btn-pink {

}

.btn-red {
  background: $red;
  color: white !important;
  border: none;

  &:hover {
    background: lighten($red, 3%);
  }

  &:active {
    background: darken($red, 1%);
  }
}

.btn-green {
  background: $green;
  color: white !important;
  border: none;

  &:hover {
    background: lighten($green, 3%);
  }

  &:active {
    background: darken($green, 1%);
  }
}

// MAIN BUTTON (DARK)

.btn-dark {
  background: $grey4;
  color: white !important;
  border: none;

  &:hover {
    background: lighten($grey4, 3%);
  }

  &:active {
    background: darken($grey4, 1%);
  }
}


// MAIN BUTTON (BLUE)

.btn-outline {
  background: white;
  color: $blue !important;
  border: 2px solid $blue;

  &:hover {
    background: lighten($lighterblue, 2%);
  }

  &.active {
    background: $blue;
    color: white !important;
  }
}

.btn-outline-dark {
  background: rgba(white, 0);
  color: $grey4 !important;
  border: 2px solid $grey4;

  &:hover {
    background: rgba(52, 62, 68, .05);
  }

  &.active {
    background: $grey4;
    color: white !important;
  }
}

.btn-outline-2 {
  background: white;
  color: $blue !important;
  border: 2px solid $blue;

  &:hover {
    background: $blue;
    color: white;
  }
}

.btn-ghost {
  background: none;
  color: $blue;

  &:hover {
    background: lighten($lighterblue, 2%);
  }
}


// WHITE VERSION

.btn-white {
  background: white;
  border: none;
  color: $blue;

  &:hover {
    opacity: .96;
  }
}

.no-button {
  background: none;
  border: none;
  box-shadow: none;
  padding: 1rem 0;

  &:hover, &:active {
    box-shadow: none;
    transform: none;
  }
}

// GRADIENTS
.btn-gradient {
  border: none;
  color: white;

  &.blue {

  }

  &.pink {
    background-image: linear-gradient(-45deg, #FF7676 0%, #F54EA2 100%);

    &:hover {
      background-image: linear-gradient(-45deg, darken(#FF7676, 4%) 0%, darken(#F54EA2, 4%) 100%);
    }
  }
}

.btn-back {
  color: $grey3;
  font-weight: bold;
  transition: transform 100ms ease-in-out;

  .icon {
    position: relative;
    margin-right: 6px;
    transition: transform 100ms ease-in-out;
  }

  &:hover {
    color: $grey4;

    .icon {
      transform: translateX(-4px);
    }
  }
}


.btn-add-asso {
  height: 50px;
  width: 50px;
  line-height: 50px;
  padding: 0 16px;
  border-radius: 50px;
  position: relative;
  transition: all 150ms ease-in-out;
  background: $blue;
  display: flex;
  align-items: center;

  .icon {
    display: none;
  }

  span {
    display: inline;
    color: white;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    right: 16px;
    transition: all 150ms ease-in-out;
  }

  &:not(.is-selected) {
    &:hover {
      background: darken($blue, 3%);
      width: 110px;
      //transform: scale(1.05);

      span {
        opacity: 1;
      }

      &:before, &:after {
        opacity: 0;
      }
    }
  }

  &:before, &:after {
    display: block;
    content: '';
    background: white;
    border-radius: 4px;
    width: 20px;
    height: 4px;
    position: absolute;
    top: 22px;
    left: 15px;
  }

  &.is-selected {
    background: $green;

    span {
      display: none;
    }

    .icon {
      display: block;
      color: white;
      position: absolute;
      top: 4px;
      left: 15px;
    }

    &:before, &:after {
      opacity: 0;
    }
  }

  &:after {
  }

  &:before {
    transform: rotate(90deg);
  }
}

.btn-add-project {
  @extend .btn-add-asso;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
