html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5 {
  color: $grey4;
  font-weight: bold;
  margin-bottom: 20px;
  transition: all .3s ease;
}

p {
  color: $grey3;
}


//TITLES FOR PHONES


h1 {
  font-size: 2.4rem;
  line-height: 2.8rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 2.1rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

p {
  font-size: 1.4rem;
  line-height: 2.3rem;
}


//TITLES FOR TABLETS
@media (min-width: $break-phone) {

  h1 {
    font-size: 3.4rem;
    line-height: 4rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  h4 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}


//TITLES FOR DESKTOP
@media (min-width: $break-tablet) {

  h1 {
    font-size: 4.2rem;
    line-height: 5rem;
  }

  h2 {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  h4 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.9rem;
  }
}

b {
  font-weight: bold;
}

.med {
  font-weight: 500;
}

.reg {
  font-weight: normal;
}

.text-white {
  color: white !important;
}

.highlight {
  background: $blue;
  color: white;
  padding: 4px;
}

.text-center {
  text-align: center;
}

.decoration {
  position: relative;
  margin-bottom: 30px;

  &:after {
    display: block;
    content: '';
    height: 4px;
    width: 90px;
    background: $blue;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 5px;

    @media (min-width: $break-desktop) {
      width: 120px;
    }
  }
}

.lowercase {
  text-transform: lowercase !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.capitalize {
  text-transform: capitalize !important;
}

.txt-blue {
  color: $blue;
}
