// VARIABLES
// FONTS Weight
$light : 300;
$reg : 400;
$semi : 500;
$bold : 600;

//FONT SIZE
$font-size-base:                  14px !default;
$font-size-large:                 18px !default;
$font-size-small:                 11px !default;

$headings-line-height:            1.2 !default;

$h1size: floor(($font-size-base * 2.6)); // ~36px
$h2size: floor(($font-size-base * 2.15)); // ~30px
$h3size: ceil(($font-size-base * 1.7)); // ~24px
$h4size: ceil(($font-size-base * 1.25)); // ~18px
$h5size: $font-size-base;
$h6size: ceil(($font-size-base * 0.85)); // ~12px

// COLORS
////////////////////////////////////////////////////////
$grey0 : #DFE6EB;
$grey1 : #BEC9D1;
$grey2 : #8896A0;
$grey3 : #5D6972;
$grey4 : #343E44;

// MAIN PALETTE
$lighterblue : #EAF8FF;
$lightblue : #D2EEFD;
$lightgrey: #F0F3F6;
$lightergrey: #F7F7F8;
$blue : #00AFFB;
$pink : #FA638B;
$orange : #EA755A;
$red : #E7414D;
$green : #7AC429;
$yellow : #EAB45A;

// SOCIAL COLORS
$facebook : #3b5998;
$twitter : #56bdf2;
$instagram : #3f729b;
$reddit : #ff4500;
$pinterest : #c8232c;
$stumble : #eb4924;
$linkedin : #0976b4;
$tumblr : #35465c;
$youtube : #e52d27;
$google: #D62D20;
$snapchat: #FFFC00;
$android : #6ab344;
$apple : #000;


// RADIUS
$radius1 : 3px;
$radius2 : 5px;
$radius3 : 7px;
$radius4 : 10px;

// MAIN
$navbar-h : 80px;

// FOOTER
$hfooter : 298px;


// INPUTS
$hinputs : 50px;
$hbinputs: 48px;

// BREAPOINTS
$break-phone: 576px;
$break-tablet: 768px;
$break-desktop: 992px;
$break-desktophd: 1200px;
